* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
:root {
  /* sizes */
  --s1: 8px;
  --s2: 16px;
  --s3: 24px;
  --s4: 32px;
  --s5: 48px;
  --s6: 64px;
  --s7: 96px;
  --s8: 128px;
  --s-1: -8px;
  --s-2: -16px;
  --s-3: -24px;
  --s-4: -32px;
  --s-5: -48px;
  --s-6: -64px;
  --s-7: -96px;
  --s-8: -128px;
  font-size: var(--s2);
  /* colours */
  --primary: hsl(160deg, 100%, 30%); /* green */
  --secondary: hsl(45deg, 100%, 50%); /* gold */
  --secondary-dark: hsl(45deg, 100%, 40%); /* gold dark */
  --black: hsl(0deg, 0%, 0%); /* black */
  --vd-gray: hsl(0deg, 0%, 10%); /* very dark gray */
  --d-gray: hsl(0deg, 0%, 30%); /* dark gray */
  --gray: hsl(0deg, 0%, 40%); /* gray */
  --l-gray: hsl(0deg, 0%, 60%); /* light gray */
  --white: hsl(0deg, 0%, 100%); /* white */
}

body {
  color: var(--vd-gray);
  background-color: var(--white);
  font-size: 1.5rem;
}

strong {
  color: var(--primary)
}

h1, h2 {
  color: var(--black);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-inline-start: var(--s-4);
  margin-block-start: var(--s-2);
  padding: var(--s2) var(--s4);
  background-color: var(--secondary);
  width: fit-content;
  border-block-end: var(--s1) solid var(--secondary-dark);
}

header {
  margin-block-start: var(--s8);
  margin-block-end: var(--s7);
}

.intro-chunk {
  max-width: 480px;
  padding-inline-start: var(--s3);
}

main {
  background-color: var(--l-gray);
  border-block-start: var(--s1) solid var(--gray);
  padding-block-start: var(--s7);
  padding-block-end: var(--s7);
}

.card {
  padding: var(--s3);
  background-color: var(--white);
  border-block-end: var(--s1) solid var(--gray);
}

.max-width-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

}